<md-toolbar>Games</md-toolbar>
<md-card>
	<md-card-content>
		<div fxLayout="column">
            <div fxFlex="100" style="border: solid 1px #f6f6f6; margin-top: 5px;">
                <div fxFlex="100" fxLayout="row" style="background: #f6f6f6; padding: 10px;">
                    <span>Games</span>
                </div>
                <div fxFlex="100" fxLayout="row">
                    <div fxFlex="9" style="background: rgb(250, 250, 250); border-right: solid 1px rgb(225,225,225); padding: 10px;">Game name</div>
                    <div fxFlex="9" style="background: rgb(250, 250, 250); border-right: solid 1px rgb(225,225,225); padding: 10px;">Game ID</div>
                    <div fxFlex="9" style="background: rgb(250, 250, 250); border-right: solid 1px rgb(225,225,225); padding: 10px;">Model</div>
                    <div fxFlex="9" style="background: rgb(250, 250, 250); border-right: solid 1px rgb(225,225,225); padding: 10px;">Type</div>
                    <div fxFlex="8" style="background: rgb(250, 250, 250); border-right: solid 1px rgb(225,225,225); padding: 10px;">Play Mode</div>
                    <div fxFlex="8" style="background: rgb(250, 250, 250); border-right: solid 1px rgb(225,225,225); padding: 10px;">Lottery</div>
                    <div fxFlex="8" style="background: rgb(250, 250, 250); border-right: solid 1px rgb(225,225,225); padding: 10px;">Streams</div>
                    <div fxFlex="8" style="background: rgb(250, 250, 250); border-right: solid 1px rgb(225,225,225); padding: 10px;">Batches Issued</div>
                    <div fxFlex="8" style="background: rgb(250, 250, 250); border-right: solid 1px rgb(225,225,225); padding: 10px;">Cards Sold</div>
                    <div fxFlex="8" style="background: rgb(250, 250, 250); border-right: solid 1px rgb(225,225,225); padding: 10px;">RTP</div>
                    <div fxFlex="8" style="background: rgb(250, 250, 250); border-right: solid 1px rgb(225,225,225); padding: 10px;">Status</div>
                    <div fxFlex="8" style="background: rgb(250, 250, 250); padding: 10px;">Date Created</div>
                </div>
                <div fxFlex="100" fxLayout="row">
                    <div fxFlex="9" style="border-right: solid 1px rgb(225,225,225); padding: 10px;">A</div>
                    <div fxFlex="9" style="border-right: solid 1px rgb(225,225,225); padding: 10px;">B</div>
                    <div fxFlex="9" style="border-right: solid 1px rgb(225,225,225); padding: 10px;">C</div>
                    <div fxFlex="9" style="border-right: solid 1px rgb(225,225,225); padding: 10px;">D</div>
                    <div fxFlex="8" style="border-right: solid 1px rgb(225,225,225); padding: 10px;">E</div>
                    <div fxFlex="8" style="border-right: solid 1px rgb(225,225,225); padding: 10px;">F</div>
                    <div fxFlex="8" style="border-right: solid 1px rgb(225,225,225); padding: 10px;">G</div>
                    <div fxFlex="8" style="border-right: solid 1px rgb(225,225,225); padding: 10px;">H</div>
                    <div fxFlex="8" style="border-right: solid 1px rgb(225,225,225); padding: 10px;">I</div>
                    <div fxFlex="8" style="border-right: solid 1px rgb(225,225,225); padding: 10px;">J</div>
                    <div fxFlex="8" style="border-right: solid 1px rgb(225,225,225); padding: 10px;">K</div>
                    <div fxFlex="8" style="padding: 10px;">L</div>
                </div>                    
            </div>
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="end">
                <a routerLink="/scratch/games/newgame" md-raised-button style="min-width: 95px;">New Game</a>
            </div>
        </div>
	</md-card-content>
</md-card>