<md-toolbar>New Role</md-toolbar>
<md-card>
	<md-card-content>
		<div fxLayout="row" style="width: 100%;">
            <md-input-container fxFlex="60">
            	<input mdInput placeholder="Role Name" [(ngModel)]="role.name">
            </md-input-container>
            <md-select placeholder="Type" [(ngModel)]="role.type" fxFlex="40" style="margin-top: 5px;">
	            <md-option value="Organization">Organization</md-option>
	            <md-option value="User">User</md-option>
	        </md-select>
        </div>
        <div fxLayout="row" style="width: 100%;">
            <md-input-container fxFlex="100">
            	<input mdInput placeholder="Role Description" [(ngModel)]="role.description">
            </md-input-container>
        </div>
        
        <div style="border: solid 1px #f6f6f6; margin-top: 5px;">
            <div fxLayout="row" style="background: #f6f6f6; padding: 10px;">
                <span>Child organizations access</span>
            </div>
            <div fxLayout="row">
                <div>
                    <ul style="list-style: none">
                        <li class="collapsed">
                            <md-checkbox md-no-ink class="md-primary">BetFairGroup</md-checkbox>
                            <ul class="sub" style="list-style: none">
                                <li><md-checkbox md-no-ink class="md-primary">BetFairGroup A</md-checkbox></li>
                                <li><md-checkbox md-no-ink class="md-primary">BetFairGroup B</md-checkbox></li>
                                <li><md-checkbox md-no-ink class="md-primary">BetFairGroup C</md-checkbox></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul style="list-style: none">
                        <li class="collapsed">
                            <md-checkbox md-no-ink class="md-primary">Bet365</md-checkbox>
                            <ul class="sub" style="list-style: none">
                                <li><md-checkbox md-no-ink class="md-primary">Bet365 A</md-checkbox></li>
                                <li><md-checkbox md-no-ink class="md-primary">Bet365 B</md-checkbox></li>
                                <li><md-checkbox md-no-ink class="md-primary">Bet365 C</md-checkbox></li>
                                <li><md-checkbox md-no-ink class="md-primary">Bet365 D</md-checkbox></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>    
        </div>

        <div *ngFor="let module of modules">
            <div *ngFor="let entry of module.entries">
                <div *ngIf="entry.hasMainAccessRights || entry.hasAdditionalAccessRights" style="border: solid 1px #f6f6f6; margin-top: 5px;">
                    <div fxLayout="row" style="background: #f6f6f6; padding: 10px;">
                        <span>{{entry.name}}</span>
                    </div>
                    <div fxLayout="row">
                        <div fxFlex="30">
                            <div fxFlex="100" fxLayout="row">
                                <div fxFlex="20" style="padding: 25px 10px;"><label>Level</label></div>
                                <div fxFlex="80" fxLayoutAlign="center center">
                                    <md-select [(ngModel)]="entry.selectedMainAccessRight" name="mainAccessRight" fxFlex="100">
                                        <md-option *ngFor="let mainAccessRight of entry.mainAccessRights" [value]="mainAccessRight">
                                            {{mainAccessRight.permission.name}}
                                        </md-option>
                                    </md-select>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="70" fxLayoutAlign="end center">
                            <md-checkbox *ngFor="let additionalAccessRight of entry.additionalAccessRights" [(ngModel)]="additionalAccessRight.authorized" md-no-ink class="md-primary">{{additionalAccessRight.permission.name}}</md-checkbox>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </md-card-content>
    <md-card-footer>
        <div fxLayout="row" fxLayoutAlign="end">
            <button md-raised-button style="margin: 6px 8px;" (click)="onSave()">Save</button>
            <button md-raised-button style="margin: 6px 8px;">Cancel</button>
        </div>
    </md-card-footer>
</md-card>
